* {
	box-sizing: border-box;
}

html, 
body {
	margin: 0;
	padding: 0;
}

.container {
	background-image: url(images/mario-background.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}



header {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	color: rgb(238, 44, 44);
	font-size: 5vh; /* media to have it smaller when small phone*/
	
}

.title {
	margin-top: 20px;
}


.three-sections {
	display: grid;
	grid-template-columns: 5fr 3fr 5fr;
}

/* grid */

.grid-flex{
	display: flex;
	align-content: center;
	justify-content: center;
}

.grid {
	width: 35vh;
	height: 35vh;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: repeat(3, auto)
}

.grid div {
	width: 12vh;
	height: 12vh;
	border: 1px solid black;
    cursor:pointer;
	background-color: transparent;
}

.grid div button {
	width: 12vh;
	height: 12vh;
	background-color: transparent;
	border: none;
}

.grid div:nth-child(1),
.grid div:nth-child(2), 
.grid div:nth-child(3) {
	border-top: none;
}

.grid div:nth-child(1), 
.grid div:nth-child(4), 
.grid div:nth-child(7) {
	border-left: none;
}

.grid div:nth-child(3), 
.grid div:nth-child(6), 
.grid div:nth-child(9) {
	border-right: none;
}

.grid div:nth-child(7), 
.grid div:nth-child(8), 
.grid div:nth-child(9) {
	border-bottom: none;
}

/* images when you when, and text */
.left-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	visibility: hidden;
}

.marioVictory {
	background-image: url(images/mario-victory.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38vh;
	background-size: contain;
	background-repeat: no-repeat;
}

.marioVictoryText {
	font-size: 6vh;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.right-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	visibility: hidden;
}

.bowserVictory {
	background-image: url(images/bowser-victory.png);
	display: flex;
	justify-content: center;
	height: 38vh;
	background-size: contain;
	background-repeat: no-repeat;
}

.bowserVictoryText {
	font-size: 6vh;
	display: flex;
	align-items: center;
	font-weight: bold;
}


/*buttons to reset, and go next round*/
.buttons {
	display: flex;
	justify-content: center;
	height: 5vh;
}

.reset-Btn, 
.next-round {
    text-align: center;
    height: 5vh;
	cursor:pointer;
	background-color: rgba(190,0,95,0.7);
	border:none;
	color: white;
	font-weight:600;
	border-radius: 5px;
}

.next-round:hover,
.reset-Btn:hover {
	background-color: rgb(190,0,95);
	transition: 0.3s;
}

.reset-Btn {
	display: none;
}

.next-round {
	visibility: hidden;
}


/* grid images */
.marioImg {
	background-image: url(images/mario.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.bowserImg {
	background-image: url(images/bowser.png);
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}