/* Font */


/* @-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
@keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  
@-webkit-keyframes flip-vertical-right {
	0% {
	  -webkit-transform: rotateY(0);
			  transform: rotateY(0);
	}
	100% {
	  -webkit-transform: rotateY(180deg);
			  transform: rotateY(180deg);
	}
  }
@keyframes flip-vertical-right {
	0% {
	  -webkit-transform: rotateY(0);
			  transform: rotateY(0);
	}
	100% {
	  -webkit-transform: rotateY(180deg);
			  transform: rotateY(180deg);
	}
  }
  
@-webkit-keyframes scale-down-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	100% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
  }

@-webkit-keyframes scale-down-bottom {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	100% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
  }
@keyframes scale-down-bottom {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	100% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
			  opacity: 0;
	}
  } */




* {
	box-sizing: border-box;
}

html, 
body {
	margin: 0;
	padding: 0;
}

.container {
	background-image: url(images/mario-background.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	color: rgb(238, 44, 44);
	font-size: 3vh; /* media to have it smaller when small phone*/
	
}


/* grid of the game */
.grid-flex{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 3vh;
}

.grid {
	width: 35vh;
	height: 35vh;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: repeat(3, auto)
}

.grid div {
	width: 12vh;
	height: 12vh;
	border: 1px solid black;
    cursor:pointer;
	background-color: transparent;
}

.grid div button {
	width: 12vh;
	height: 12vh;
	background-color: transparent;
	border: none;
}

.grid div:nth-child(1),
.grid div:nth-child(2), 
.grid div:nth-child(3) {
	border-top: none;
}

.grid div:nth-child(1), 
.grid div:nth-child(4), 
.grid div:nth-child(7) {
	border-left: none;
}

.grid div:nth-child(3), 
.grid div:nth-child(6), 
.grid div:nth-child(9) {
	border-right: none;
}

.grid div:nth-child(7), 
.grid div:nth-child(8), 
.grid div:nth-child(9) {
	border-bottom: none;
}

/* when a players wins a round */
.marioVictoryText {
	display: none;
}

.bowserVictoryText {
	display: none;
}

.marioVictoryTextMobile {
	color: red;
	font-weight: bold;
	font-size: 4vh;
	display: flex;
	text-align: center;
	justify-content: center;
	display: none;
}

.bowserVictoryTextMobile {
	color: red;
	font-weight: bold;
	font-size: 4vh;
	display: flex;
	justify-content: center;
	text-align: center;
	visibility: hidden;
}

/* no side grids when on mobile */
.left-grid {
	display: none;
}

.right-grid {
	display: none;
}

/*buttons to reset, and go next round*/
.buttons {
	display: flex;
	justify-content: center;
	height: 5vh;
	margin-bottom: auto;
}

.reset-Btn, 
.next-round {
    text-align: center;
    height: 5vh;
	cursor:pointer;
	background-color: rgba(190,0,95,0.7);
	border:none;
	color: white;
	font-weight:600;
	border-radius: 5px;
}

.next-round:hover,
.reset-Btn:hover {
	background-color: rgb(190,0,95);
	transition: 0.3s;
}

.reset-Btn {
	display: none;
}

.next-round {
	visibility: hidden;
}

/* grid images */
.marioImg {
	background-image: url(images/mario.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.bowserImg {
	background-image: url(images/bowser.png);
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}







/* removing features that mobile cant use */

@media (orientation: portrait) {
	.playerWinsMobileGrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20vw;
	}

	#marioWin {
		position: absolute;
		visibility: hidden;
		top:0;
	}
	
	#bowserWin {
		position: absolute;
		visibility: hidden;
		top:0;
	}

	.stands {
		display: none;
	}	

	.marioVictoryMobile {
		background-image: url(images/mario-victory.png);
		height: 20vh;
		background-size: contain;
		background-repeat: no-repeat;
		visibility: hidden;
	}
	
	.bowserVictoryMobile {
		background-image: url(images/bowser-victory.png);
		height: 20vh;
		background-size: contain;
		background-repeat: no-repeat;
		visibility: hidden;
	}
}

/* for landscape users */
@media (orientation: landscape) {

	.title {
		color: blue
	}
		
	/* disabling some mobile features */
	.marioVictoryTextMobile {
		visibility: hidden;
		height: 0;
		width: 0;
	}

	.bowserVictoryTextMobile {
		display: none;
	}

	.three-sections {
		display: grid;
		grid-template-columns: 5fr 3fr 5fr;
		margin-bottom: auto;
	}

/* images when you when, and text */
	.left-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		visibility: hidden;
	}
	
	.marioVictory {
		background-image: url(images/mario-victory.png);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 38vh;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	.marioVictoryText {
		font-size: 6vh;
		display: flex;
		align-items: center;
		font-weight: bold;
	}

	.right-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		visibility: hidden;
	}

	.bowserVictory {
		background-image: url(images/bowser-victory.png);
		display: flex;
		justify-content: center;
		height: 38vh;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.bowserVictoryText {
		font-size: 6vh;
		display: flex;
		align-items: center;
		font-weight: bold;
	}

	/* move players when win */
	.stands {
		position: absolute;
		bottom: 8vh;
		width: 100vw;
		display: grid;
		height: 20vh;
		grid-template-columns: 1fr 1fr;

	}

	.marioStand {
		position: absolute;
		height: 20vh;
		left: 0vw;
		visibility: visible;
	}

	.bowserStand {
		position: absolute;
		right: 0vw;
		height: 20vh;
		visibility: visible;
	}

	/* when a player wins 5 times */

	#marioWin {
		position: absolute;
		height: 20vh;
		left: 47vw;
		-webkit-animation: scale-down-bottom 2s linear both;
		animation: scale-down-bottom 2s linear both;
		display:none;
	}

	#bowserWin {
		position: absolute;
		height: 20vh;
		right: 44vw;
		-webkit-animation: scale-down-bottom 2s linear both;
		animation: scale-down-bottom 2s linear both;
		display: none;
	}



}